@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
  --color-main: #f5f5f5;
  --color-background:#befff0;
  --boca-azul:#103f79;
  --boca-yellow: #f3b229;
  --color-forma: linear-gradient(to top, #3dd8fc, #4689cc);
  --font-special: 'Patua One', cursive;
}

